<!DOCTYPE html>
<!--
    Escape Velocity by HTML5 UP
    html5up.net | Atn33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>No Sidebar - Escape Velocity by HTML5 UP</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="~/Content/html5shiv.js"></script><![endif]-->
    @Scripts.Render("~/Scripts/js")

    @*<script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/skel-layers.min.js"></script>
    <script src="~/Scripts/init.js"></script>*@

    @Styles.Render("~/Content/css")
    
    <noscript>
        
       
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/v8.css" /><![endif]-->
</head>
<body class="no-sidebar">
    <!-- Header -->
    <div id="header-wrapper" class="wrapper">
        <div id="header">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="index.html">Web Translator</a></h1>
                <p>translate, dictionary, currency and units</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="index.html">Home</a></li>
                    <li>
                        <a href="">Dropdown</a>
                        <ul>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Magna veroeros</a></li>
                            <li><a href="#">Etiam nisl</a></li>
                            <li>
                                <a href="">Sed consequat</a>
                                <ul>
                                    <li><a href="#">Lorem dolor</a></li>
                                    <li><a href="#">Amet consequat</a></li>
                                    <li><a href="#">Magna phasellus</a></li>
                                    <li><a href="#">Etiam nisl</a></li>
                                    <li><a href="#">Sed feugiat</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Nisl tempus</a></li>
                        </ul>
                    </li>
                    <li><a href="left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="no-sidebar.html">No Sidebar</a></li>
                </ul>
            </nav>

        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style2">
        <div class="title">No Sidebar</div>
        <div id="main" class="container">

            <!-- Content -->
            <div id="content">
                @RenderBody()
            
            </div>

        </div>
    </div>

    <!-- Highlights -->
    <div class="wrapper style3">
        <div class="title">The Endorsements</div>
        
    </div>

    <!-- Footer -->
    <div id="footer-wrapper" class="wrapper">
        <div class="title">The Rest Of It</div>
        <div id="footer" class="container">
            <header class="style1">
                <h2>Ipsum sapien elementum portitor?</h2>
                <p>
                    Your footer here.<br />
                    Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.
                </p>
            </header>
            <hr />
            <hr />
        </div>
        <div id="copyright">
            <ul>
                <li>&copy; Untitled.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </div>

</body>
</html>