
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Translate", "Translate", FormMethod.Post))
{
    @Html.Label("Fuente:")
    @Html.TextBox("txtSource")
    
    <p>
        @ViewBag.Result
        </p>
    
    <input type="submit" value="Submit" />
    
}