
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row 150%">
    <div class="4u">
        <section class="box">
            @using (Html.BeginForm("Translate", "Translate", FormMethod.Post))
            {
                @Html.Label("Fuente:")
                @Html.TextBox("txtSource")

                <p>
                    @ViewBag.Result
                </p>

                <input type="submit" value="Submit" />

            }

        </section>
    </div>
</div>